@import '../../styles/mixin.scss';

.as-input {
  display: flex;
  flex-direction: row;
  .as {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    background-color: #fff;
    color: $dark2-color;
    font-weight: 300;
    font-size: 24px;
  }
  .input {
    margin: 0;
    border: 1px solid $border-color;
    background-color: #fff;
    width: 80px;
    height: 50px;
    text-align: center;
    color: $dark2-color;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
  .as-disabled {
    
  }
}